[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons
[submodule "XIVPainter"]
	path = XIVPainter
	url = https://github.com/ArchiDog1998/XIVPainter
[submodule "XIVConfigUI"]
	path = XIVConfigUI
	url = https://github.com/ArchiDog1998/XIVConfigUI
